@font-face {
	font-family: 'Sohne';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/sohne/Sohne-Buch.woff2') format('woff2'),
		url('./fonts/sohne/Sohne-Buch.woff') format('woff');
}

@font-face {
	font-family: 'Sohne';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/sohne/Sohne-Kraftig.woff2') format('woff2'),
		url('./fonts/sohne/Sohne-Kraftig.woff') format('woff');
}

@font-face {
	font-family: 'Sohne';
	font-weight: 600;
	font-style: normal;
	src: url('./fonts/sohne/Sohne-Halbfett.woff2') format('woff2'),
		url('./fonts/sohne/Sohne-Halbfett.woff') format('woff');
}

@font-face {
	font-family: 'Sohne Mono';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/sohne/SohneMono-Buch.woff2') format('woff2'),
		url('./fonts/sohne/SohneMono-Buch.woff') format('woff');
}

@font-face {
	font-family: 'Sohne Mono';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/sohne/SohneMono-Kraftig.woff2') format('woff2'),
		url('./fonts/sohne/SohneMono-Kraftig.woff') format('woff');
}

@font-face {
	font-family: 'Sohne Mono';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/sohne/SohneMono-Fett.woff2') format('woff2'),
		url('./fonts/sohne/SohneMono-Fett.woff') format('woff');
}

@font-face {
	font-family: 'Founders Grotesque X-Cond';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/founders-grotesque-x-cond/FoundersGrotesqueXCond-Regular.woff2')
			format('woff2'),
		url('./fonts/founders-grotesque-x-cond/FoundersGrotesqueXCond-Regular.woff')
			format('woff');
}

@font-face {
	font-family: 'Founders Grotesque X-Cond';
	font-weight: 600;
	font-style: normal;
	src: url('./fonts/founders-grotesque-x-cond/FoundersGrotesqueXCond-SemiBold.woff2')
			format('woff2'),
		url('./fonts/founders-grotesque-x-cond/FoundersGrotesqueXCond-SemiBold.woff')
			format('woff');
}

@font-face {
	font-family: 'Founders Grotesque X-Cond';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/founders-grotesque-x-cond/FoundersGrotesqueXCond-Bold.woff2')
			format('woff2'),
		url('./fonts/founders-grotesque-x-cond/FoundersGrotesqueXCond-Bold.woff')
			format('woff');
}

/* Monospace fill-ins for greek characters */
@font-face {
	font-family: 'Roboto Mono';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/roboto-mono/RobotoMono-Regular-Greek.woff2') format('woff2'),
		url('./fonts/roboto-mono/RobotoMono-Regular-Greek.woff') format('woff');
	unicode-range: U+0391-03a9, U+03b1-03c9;
}

@font-face {
	font-family: 'Roboto Mono';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/roboto-mono/RobotoMono-Medium-Greek.woff2') format('woff2'),
		url('./fonts/roboto-mono/RobotoMono-Medium-Greek.woff') format('woff');
	unicode-range: U+0391-03a9, U+03b1-03c9;
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Regular.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Regular.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 400;
	font-style: italic;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-RegularItalic.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-RegularItalic.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Medium.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Medium.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 500;
	font-style: italic;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-MediumItalic.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-MediumItalic.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 600;
	font-style: normal;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Semibold.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Semibold.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 600;
	font-style: italic;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-SemiboldItalic.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-SemiboldItalic.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Bold.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-Bold.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Display Condensed';
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-BoldItalic.woff2')
			format('woff2'),
		url('./fonts/domaine-display-x-condensed/DomaineDisplayCondensed-BoldItalic.woff')
			format('woff');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/domaine-text/DomaineText-Regular.woff2') format('woff2'),
		url('./fonts/domaine-text/DomaineText-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 400;
	font-style: italic;
	src: url('./fonts/domaine-text/DomaineText-RegularItalic.woff2') format('woff2'),
		url('./fonts/domaine-text/DomaineText-RegularItalic.woff') format('woff');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/domaine-text/DomaineText-Medium.woff2') format('woff2'),
		url('./fonts/domaine-text/DomaineText-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 500;
	font-style: italic;
	src: url('./fonts/domaine-text/DomaineText-MediumItalic.woff2') format('woff2'),
		url('./fonts/domaine-text/DomaineText-MediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/domaine-text/DomaineText-Bold.woff2') format('woff2'),
		url('./fonts/domaine-text/DomaineText-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Domaine Text';
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/domaine-text/DomaineText-BoldItalic.woff2') format('woff2'),
		url('./fonts/domaine-text/DomaineText-BoldItalic.woff') format('woff');
}
